* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./../../image/FUNDO.png");
}


nav {
    position: fixed;
    top: 0;
    background: rgb(87, 0, 128);
    width: 100%;
}


#menuCheck {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 10px;
    height: 30px;
    width: 30px;
}

#icone:hover {
    transition: all .5s;
    transform: rotateZ(90deg);
}

.menu {
    position: absolute;
    left: -250px;
}

#menuCheck:checked~.menu {
    transform: translateX(250px);
    transition: all .5s;
}

.itens {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(230, 8, 210, 1) 35%, rgba(0, 226, 227, 1) 100%);
    width: 250px;
    padding: 10px 0;
    border-bottom: 2px solid #222;
    text-decoration: none;
    color: black;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 15px;
}

.itens:hover {
    background: rgba(230, 8, 210, 1);
}

#logo {
    position: fixed;
    top: 2px;
    left: 45%;
    width: 120px;
    height: 50px;
}

fieldset {
    margin: 110px 30px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    width: 25%;
    background: rgba(255, 192, 203, 0.354);
}

.frase1 {
    color: #655e5e;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.frase2 {
    color: #655e5e;
    font-family: sans-serif;
}

label {
    color: #655e5e;
    text-align: center;
    font-size: 15px;
    font-family: 'Arial Narrow';
}

.frase-obt {
    color: rgb(107, 7, 7);
    font-size: 10px;
}

input {
    display: block;
    background: rgba(211, 126, 211, 0.582);
    color: #FFF;
    border-radius: 5px;
    margin: 2px 0 20px;
    width: 400px;
    box-shadow: 2px 2px rgba(105, 103, 103, 0.902);
}

input:focus {
    background: rgb(211, 126, 211);
    transition: all .2s;
}

textarea {
    display: block;
    background: rgba(211, 126, 211, 0.582);
    color: #FFF;
    border-radius: 5px;
    margin: 2px 0 20px;
    width: 400px;
    box-shadow: 2px 2px rgba(105, 103, 103, 0.902);
}

textarea:focus {
    background: rgb(211, 126, 211);
    transition: all .2s;
}

button {
    position: relative;
    left: 42%;
    padding: 5px;
    font-weight: bold;
    background: pink;
    border: 0;
    border-radius: 2px;
    color: #655e5e;
    box-shadow: 2px 2px rgba(105, 103, 103, 0.902);
}

button:hover {
    background: rgb(254, 141, 160);
    color: #FFF;
    transition: all .5s;
}

#contato {
    display: flex;
    justify-content: space-around;
}

.card {
    margin: 110px 30px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background: rgba(255, 192, 203, 0.354);
}

iframe {
    border: 0;
    margin-top: 20px;
    width: 400px;
    height: 220px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(87, 0, 128);
    width: 100%;
    height: 100px;
}

.redes {
    height: 40px;
    width: 40px;
}

#iconesRedes {
margin: 8px;
}

.p1Footer {
    margin-top: 5px;
    color: white;
}

.p2Footer {
    font-size: 10px;

    color: white;
}